{% extends '../base.html'  %}

{% block content %}


             <div class="col-md-12">
             	
               	
                                           <div class="card card-primary card-outline">
                                                 <div class="card-body box-profile">
                                                 	


                                                          <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                                                            <li class="pt-2 px-3"><h3 class="card-title">OPD charges Records</h3></li>
                                                              <li class="nav-item">
                                                                  <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Set and OPD Summarised Charges Reports</a>
                                                              </li>
                                                              <li class="nav-item">
                                                                   <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">OPD Charges Charges Detailed Reports</a>
                                                              </li>

                                                              <li class="nav-item">
                                                                    <a class="nav-link" id="custom-content-above-messages-tab" data-toggle="pill" href="#custom-content-above-messages" role="tab" aria-controls="custom-content-above-messages" aria-selected="false">Medical Finacial Reports</a>
                                                              </li>
                                                              <li class="nav-item">
                                                                  <a class="nav-link" id="custom-content-above-settings-tab" data-toggle="pill" href="#custom-content-above-settings" role="tab" aria-controls="custom-content-above-settings" aria-selected="false">Student Medical Reports</a>
                                                             </li>

                                                        </ul>













                                                  </div>
                                            </div>





             </div>

{% endblock %}