{% extends '../base.html' %}
{% block content %}


                                    <div class="col-md-3">                                     
            <!-- Profile Image -->
                                           <div class="card card-primary card-outline">
                                                 <div class="card-body box-profile">
                                                        <div class="text-center">
                                                             <img class="profile-user-img img-fluid img-circle" src="../assets/dist/img/user4-128x128.jpg" alt="User profile picture">
                                                        </div>
                                                        <h3 class="profile-username text-center">Nina Mcintire</h3>

                                                        <!--<p class="text-muted text-center">Software Engineer</p>-->

                                                        <ul class="list-group list-group-unbordered mb-3">

                                                            <li class="list-group-item">
                                                                  <b>Date Of Birth</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Telephone</b> <a class="float-right">1,322</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                     <b>Region</b> <a class="float-right">543</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>City</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>No. of Times</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <!--<li class="list-group-item">
                                                                  <b>Balance</b> <a class="float-right">0.00</a>
                                                            </li>

                                                            <a href="#" class="btn btn-primary btn-block"><b>Start Sessions</b></a>-->
                                                            <!--<li class="list-group-item">
                                                                  <b>Current Quantity Stocked</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Quantity left</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Friends</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Current Price</b> <a class="float-right">13,287</a>
                                                            </li>-->
                                                       </ul>
                                                 </div>
                                           </div>
                                           

                                  </div>



                                  <div class="col-md-9">
                                            <div class="card card-primary card-outline">
                                                 <div class="card-body box-profile">
                                              

                                                        <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                                                            <li class="pt-2 px-3"><h3 class="card-title">Medical</h3></li>
                                                              <li class="nav-item">
                                                                  <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Diagnosis</a>
                                                              </li>
                                                              <li class="nav-item">
                                                                   <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Patient Medical History</a>
                                                              </li>
                                                              <!--<li class="nav-item">
                                                                    <a class="nav-link" id="custom-content-above-messages-tab" data-toggle="pill" href="#custom-content-above-messages" role="tab" aria-controls="custom-content-above-messages" aria-selected="false">Restock Dietary Supplement</a>
                                                              </li>
                                                              <li class="nav-item">
                                                                  <a class="nav-link" id="custom-content-above-settings-tab" data-toggle="pill" href="#custom-content-above-settings" role="tab" aria-controls="custom-content-above-settings" aria-selected="false">Dietary Supplement Stocking Reports Reports</a>
                                                             </li>-->
                                                        </ul>


                                                        <div class="tab-custom-content">
                                                          

                                                                <div class="tab-content" id="custom-content-below-tabContent">
                                                               

                                                                      <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                                                                          

                                                                              <div class="" style="width:100%">
                                                                                      <div class="card card-info">
                                                                                               <div class="card-header">
                                                                                                       <h3 class="card-title">OPD Vitals</h3>


                                                                                                        <div class="card-tools">
                                                                                                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                                                                 <i class="fas fa-minus"></i>
                                                                                                              </button>
                                                                                                             <!--<button type="button" class="btn btn-tool" data-card-widget="remove">
                                                                                                                <i class="fas fa-times"></i>
                                                                                                             </button>-->
                                                                                                        </div>
                                                                                               </div>

                                                                                               <div class="card-body">
                                                                                                <div class="table-responsive">
                                                                                                {% if patient_opd_vital|length > 0 %}
                                                                                                  <table class="table  table-striped">
                                                                                                        <tr>
                                                                                                              <th>OPD Vital</th>
                                                                                                              <th></th>
                                                                                                        </tr>
                                                                                                  {% for opd in patient_opd_vital %}
                                                                                  
                                                                                                        <tr>
                                                                                                                <td>{{opd.vitals.vital_type}}</td>
                                                                                                                <td>{{opd.details}}</td>
                                                                                                        </tr>
                                                                                                  {% endfor %}
                                                                                              </table>
                                                                                            {% else %}
                                                                                          
                                                                                                <form method="POST" action="/create-patient-opd-vitals">
                                                                                                      {% csrf_token %}
                                                                                                  <table class="table  table-striped">
                                                                                                         <tr>
                                                                                                                <th>Vital Status</th>
                                                                                                                <th>Details</th>
                                                                                                         </tr>
                                                                                                         {% for opd in opd_vital %}
                                                                                                           
                                                                                                      <tr>
                                                                                                            <td>{{opd.vital_type}}<input type="hidden" name="vital_id" value="{{opd.id}}"</td>
                                                                                                            <td><input type="text" class="form-control" name="vital" placeholder="inputs for {{opd.vital_type}}"></td>
                                                                                                      </tr>
                                                                                                         {% endfor %}
                                                                                                      <tr>
                                                                                                            <td><input type="hidden" name="patient_history_id" value="{{patient_history_id}}"></td>
                                                                                                            <td><input type="submit" class="btn btn-info" value="save details"></td>
                                                                                                      </tr>
                                                                                                  </table>
                                                                                                  
                                                                                                  
                                                                                                </form>
                                                                                  
                                                                                                {% endif %} 
                                                                                               </div>
                                                                                               </div>
                                                                                      </div>
                                                                                      <div class="card card-info">
                                                                                             <div class="card-header">
                                                                                                     <h3 class="card-title">Patient Compliants</h3>
                                                                                                     <div class="card-tools">                            
                                                                                                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                                                                 <i class="fas fa-minus"></i>
                                                                                                              </button>
                                                                                                     </div>
                                                                                                     

                                                                                             </div>
                                                                                             <div class="card-body">

                                                                                                {{patient_complaints|length}}
                                                                                                {% if patient_complaints|length > 0 %}
                                                                                                    <form method="post" action="/edit-doctor-diagonsis">
                                                                                                          {% csrf_token %}
                                                                                                    {% for patients in patient_complaints %}
                                                                                
                                                                                                           Patient Complaient<br/>
                                                                                                           <textarea name="complaints" class="form-control mb-3" disabled>
                                                                                                                   {{patients.patient_complaint}}
                                                                                                           </textarea><br>
                                                                                                           doctor Dignosis<br/>
                                                                                                           {% if patients.doctor_dignosis_report != " " %}
                                                                                                               <textarea name="doctor_diagonsis" disabled>{{patients.doctor_dignosis_report}}</textarea><br>
                                                                                                           {% else %}
                                                                                                               <textarea name="doctor_diagonsis" class="form-control mb-3" rows="12"></textarea>
                                                                                                           {% endif %}
                                                                                                           <input type="hidden" value="{{patients.id}}" name="diagnosis_id"><br>
                                                                                                           
                                                                                
                                                                                
                                                                                                    {% endfor %}
                                                                                                     <input type="submit" value="submit">
                                                                                                    </form> 
                                                                                
                                                                                                {% else %}edit-doctor-diagonsis
                                                                                                <form method="POST" action="/create-patient-complaints-diagonsis">
                                                                                                          {% csrf_token %}
                                                                                                           <br>
                                                                                                           Patient Complaient<br/>
                                                                                                           
                                                                                                           <input type="hidden" value="{{patient_history_id}}" name="patient_history_id">
                                                                                
                                                                                                           <textarea name="complaints"  class="form-control" rows="10">
                                                                                                                 
                                                                                                           </textarea><br>
                                                                                                          
                                                                                
                                                                                                           <input type="hidden" value="1" name="user_id"><br>
                                                                                                           <input type="submit" class="btn btn-info" value="submit patient compliants">
                                                                                                 </form>
                                                                                                    
                                                                                
                                                                                
                                                                                                {% endif %}
                                                                                             </div>
                                                                                      </div>
                                                                                      <div class="card card-info">
                                                                                             <div class="card-header">
                                                                                                     <h3 class="card-title">Laboratary</h3>
                                                                                                     <div class="card-tools">                            
                                                                                                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                                                                 <i class="fas fa-minus"></i>
                                                                                                              </button>
                                                                                                     </div>
                                                                                                     

                                                                                             </div>
                                                                                             <div class="card-body">


                                                                                                {% if patient_lab_test_status|length > 0 %}
                                                                                                {% for patient_lab_test_info in patient_lab_test_status %}
                                                                              
                                                                                                  {% if patient_lab_test_info.released_status == True %}
                                                                                                              
                                                                                                              <h3>lab_report ready <a href="">view results</a></h3>
                                                                              
                                                                                                  {% elif patient_lab_test_info.released_status == False %}
                                                                              
                                                                                                          <div class="">
                                                                                                              <h3>Lab test not ready</h3>
                                                                                                          </div>
                                                                                                  {% endif %}
                                                                              
                                                                                               {% endfor %}
                                                                                           {% else %}
                                                                                                  <form method="post" id="select_lab_test" action="/create-patient-lab-request">
                                                                                                    {% csrf_token %}
                                                                              
                                                                                                   <select name="lab_test" class="select2" multiple="multiple" data-placeholder="select staff role" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                                                                        {% for lab_test in lab_test_lists %}
                                                                              
                                                                                                           <option value="{{lab_test.id}}">{{lab_test.test_type}} - {{lab_test.cost}}</option>
                                                                              
                                                                                                        {% endfor %}
                                                                                                   </select>
                                                                                                   <input type="hidden" value="1" name="user_id">
                                                                                                   <input type="hidden" name="patient_history_id" value="{{patient_history_id}}"><br/>
                                                                                                   <input type="submit" value="send lab request"/>
                                                                                                 </form>

                                                                                                  <div class="table-responsive mt-1 mb-1">
                                                                                                         <table class="table table-bordered">
                                                                                                                  <tr>
                                                                                                                        <th>Laboratary Test</th>
                                                                                                                        <th>Cost</th>
                                                                                                                  </tr>
                                                                                                         </table>
                                                                                                  </div>
                                                                              
                                                                                           {% endif %}




                                                                                             </div>
                                                                                      </div>


                                                                                      <div class="card card-info">
                                                                                             <div class="card-header">
                                                                                                     <h3 class="card-title">Dietary Supplement</h3>
                                                                                                     <div class="card-tools">                            
                                                                                                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                                                                 <i class="fas fa-minus"></i>
                                                                                                              </button>
                                                                                                     </div>
                                                                                                     

                                                                                             </div>
                                                                                             <div class="card-body">
                                                                                                  
                                                                                                {% if patient_dietary_status|length > 0 %}
                                                                                                {% for patient_dietary_info in patient_dietary_status %}
                                                                              
                                                                                                  {% if patient_dietary_info.released_status == True %}
                                                                                                              
                                                                                                              <h3>view dietary info <a href="">view</a></h3>
                                                                              
                                                                                                  {% elif patient_dietary_info.released_status == False %}
                                                                              
                                                                                                          <div class="">
                                                                                                              <h3>Patient Dietary not dispenser</h3>
                                                                                                          </div>
                                                                                                  {% endif %}
                                                                              
                                                                                               {% endfor %}
                                                                                           {% else %}
                                                                                                  <form method="post" action="/create-patient-dietary-request">
                                                                                                    {% csrf_token %}
                                                                              
                                                                                                   <select name="dietary" class="select2" multiple="multiple" data-placeholder="select staff role" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                                                                        {% for dietary_info in dietary_lists %}
                                                                                                            {% if dietary_info.quantity > 0 %}
                                                                                                                <option value="{{dietary_info.id}}">{{dietary_info.dietary_name}} - GHS{{dietary_info.price}}</option>
                                                                                                            {% endif %}
                                                                                                        {% endfor %}
                                                                                                   </select><br/>
                                                                                                   <input type="hidden" value="1" name="user_id">
                                                                                                   <input type="hidden" name="patient_history_id" value="{{patient_history_id}}">
                                                                                                   <input type="submit" class="btn btn-info" value="send dietary request"/>
                                                                                                 </form>
                                                                              
                                                                                           {% endif %}



                                                                                             </div>
                                                                                      </div>


                                                                        </div>








                                                                    </div>

                                                                      <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                                                                          

                                                                                 
                                                                              <table id="example2" class="table table-bordered table-hover">
                                                                                     <thead>
                                                                                           <tr>
                                                                                               <th>Date Visited</th>
                                                                                               
                                                                                               <th>Opd Nurse</th>
                                                                                               <th>Doctor</th>
                                                                                             
                                                                                               <td>view history</td>
                                                                                           </tr>
                                                                                     </thead>

                                                                              </table>


                                                                      </div>


                                                                </div>
                                                            </div>





                                                   </div>
                                            </div>

                                  </div>








<!--<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
      <div id="opd">
      	  <h1>OPD Vital</h1>
      	  {{patient_opd_vital}}
      	  {% if patient_opd_vital|length > 0 %}
      	    <table>
      	    	<tr>
      	    		<th>OPD Vital</th>
      	    		<th></th>
      	    	</tr>
                {% for opd in patient_opd_vital %}

                      <tr>
                      	  <td>{{opd.vitals.vital_type}}</td>
                      	  <td>{{opd.details}}</td>
                      </tr>
                {% endfor %}
            </table>
          {% else %}
        
              <form method="POST" action="/create-patient-opd-vitals">
              	{% csrf_token %}
                <table>
              	   <tr>
              	   	 <th>Vital Status</th>
              	   	 <th>Details</th>
              	   </tr>
              	   {% for opd in opd_vital %}
                         
                    <tr>
                    	<td>{{opd.vital_type}}<input type="hidden" name="vital_id" value="{{opd.id}}"</td>
                    	<td><input type="text" name="vital"></td>
                    </tr>
              	   {% endfor %}
                </table>
                <input type="text" name="patient_history_id" value="{{patient_history_id}}">
                <input type="submit" value="send">
              </form>

      	  {% endif %}
      </div>
      <div id="diagonsis">
      	    <h1>Patient Complaints Diagnosis</h1>
      	    {{patient_complaints|length}}
      	    {% if patient_complaints|length > 0 %}
                    <form method="post" action="/edit-doctor-diagonsis">
                    	{% csrf_token %}
                    {% for patients in patient_complaints %}

                 	    Patient Complaient<br/>
                 	    <textarea name="complaints" disabled>
                 	    	  {{patients.patient_complaint}}
                 	    </textarea><br>
                 	    doctor Dignosis<br/>
                 	    {% if patients.doctor_dignosis_report != " " %}
                 	        <textarea name="doctor_diagonsis" disabled>{{patients.doctor_dignosis_report}}</textarea><br>
                 	    {% else %}
                               <textarea name="doctor_diagonsis"></textarea>
                 	    {% endif %}
                 	    <input type="hidden" value="{{patients.id}}" name="diagnosis_id"><br>
                 	    


                    {% endfor %}
                     <input type="submit" value="submit">
                    </form> 

      	    {% else %}edit-doctor-diagonsis
                <form method="POST" action="/create-patient-complaints-diagonsis">
                 	   {% csrf_token %}
                 	    <input type="hidden" value="{{patient_history_id}}" name="patient_history_id"><br>
                 	    Patient Complaient<br/>
                 	    
                 	   

                 	    <textarea name="complaints"   >
                 	    	
                 	    </textarea><br>
                 	   

                 	    <input type="hidden" value="1" name="user_id"><br>
                 	    <input type="submit" value="submit">
                 </form>
                    


      	    {% endif %}
      </div>
      <div id="laboratory">
      	     <h2>laboratory</h2>
             {% if patient_lab_test_status|length > 0 %}
                  {% for patient_lab_test_info in patient_lab_test_status %}

                    {% if patient_lab_test_info.released_status == True %}
                                
                                <h3>lab_report ready <a href="">view results</a></h3>

                    {% elif patient_lab_test_info.released_status == False %}

                            <div class="">
                                <h3>Lab test not ready</h3>
                            </div>
                    {% endif %}

                 {% endfor %}
             {% else %}
                    <form method="post" action="/create-patient-lab-request">
                      {% csrf_token %}

                     <select name="lab_test" multiple>
                          {% for lab_test in lab_test_lists %}

                             <option value="{{lab_test.id}}">{{lab_test.test_type}} - {{lab_test.cost}}</option>

                          {% endfor %}
                     </select><br/>
                     <input type="hidden" value="1" name="user_id"><br>
                     <input type="text" name="patient_history_id" value="{{patient_history_id}}"><br/>
                     <input type="submit" value="send lab request"/>
                   </form>

             {% endif %}
      </div>
      <div id="dietary">
      	      <h2>dietary</h2>
              {{patient_dietary_status}}
              {% if patient_dietary_status|length > 0 %}
                  {% for patient_dietary_info in patient_dietary_status %}

                    {% if patient_dietary_info.released_status == True %}
                                
                                <h3>view dietary info <a href="">view</a></h3>

                    {% elif patient_dietary_info.released_status == False %}

                            <div class="">
                                <h3>Patient Dietary not dispenser</h3>
                            </div>
                    {% endif %}

                 {% endfor %}
             {% else %}
                    <form method="post" action="/create-patient-dietary-request">
                      {% csrf_token %}

                     <select name="dietary" multiple>
                          {% for dietary_info in dietary_lists %}
                              {% if dietary_info.quantity > 0 %}
                                  <option value="{{dietary_info.id}}">{{dietary_info.dietary_name}} - GHS{{dietary_info.price}}</option>
                              {% endif %}
                          {% endfor %}
                     </select><br/>
                     <input type="hidden" value="1" name="user_id"><br>
                     <input type="text" name="patient_history_id" value="{{patient_history_id}}"><br/>
                     <input type="submit" value="send lab request"/>
                   </form>

             {% endif %}
      </div>
</body>
</html>--->
{% endblock %}
