


{% extends '../base.html' %}

{% block content %}


                                      <div class="col-md-3">
                                         
            <!-- Profile Image -->
                                           <div class="card card-primary card-outline">
                                                 <div class="card-body box-profile">
                                                        <div class="text-center">
                                                             <img class="profile-user-img img-fluid img-circle" src="../assets/dist/img/user4-128x128.jpg" alt="User profile picture">
                                                        </div>
                                                        
                                                        {% for patients in view_patient_details %}
                                                            
                                                        <h3 class="profile-username text-center">{{ patients.fullname }}</h3>

                                                        <p class="text-muted text-center">{{ patients.card }}</p>

                                                        <ul class="list-group list-group-unbordered mb-3">

                                                            <li class="list-group-item">
                                                                  <b>Date Of Birth</b> <a class="float-right">{{patients.dob}}</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Telephone</b> <a class="float-right">{{patients.phone}}</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                     <b>Region</b> <a class="float-right">{{patients.region}}</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>City</b> <a class="float-right">{{patients.City}}</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>No. of Times</b> <a class="float-right">{{patients.visit}}</a>
                                                            </li>
                                                            <!--<li class="list-group-item">
                                                                  <b>Balance</b> <a class="float-right">0.00</a>
                                                            </li>-->
                                                            <li class="list-group-item">
                                                                
                                                                 
                                                                       {% if patients.checked_in_state == 'checked out' %}
                                                                            <form id="start_session" method="post">
                                                                                {% csrf_token %}
                                                                                  <div class="col-md-12 mt-2 mb-2">
                                                                                         <div class="form-group">
                                                                                             <input type="text" class="form-control" placeholder="amount" name="amount" pattern="[0-9]+">
                                                                                         </div>
                                                                                  </div>
                                                                                  <input type="hidden" name="hospital_id" value="1">
                                                                                  <input type="hidden" name="user_id" value="1">
                                                                                  <input type="hidden" name="patient_history_id" value="{{patients.patient_history_id}}">
                                                                                  <input type="hidden" name="patient_id" value="{{patients.patient_id}}">
                                                                                  <div class="col-md-12 mt-2 mb-2">
                                                                                        <input type="submit"  class="btn btn-info" value="start new Sessions" style="border:none;border-radius: 0px;width: 100%;">
                                                                                  </div>
                                                                            </form>
                                                                        {% else %}


                                                                       
                                                                                 <a href="#" class="btn btn-success btn-block" style="border:none;border-radius: 0px;"><b>checked in</b></a> 

                                                                       {% endif %}
                                                                 
                                                            </li>

                                                            
                                                            <!--<li class="list-group-item">
                                                                  <b>Current Quantity Stocked</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Quantity left</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Friends</b> <a class="float-right">13,287</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                  <b>Current Price</b> <a class="float-right">13,287</a>
                                                            </li>-->
                                                       </ul>

                                                       {% endfor %}
                                                 </div>
                                           </div>
                                           

                                      </div>


                                      <div class="col-md-9">
                                                <div class="card">
                                                       <div class="card-header p-2">
                                                                  <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">


                                                                      <li class="pt-2 px-3"><h3 class="card-title">Patients Records</h3></li>
                                                                      <li class="nav-item">
                                                                           <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Patient History Details</a>
                                                                     </li>

                                                                  </ul>

                                                                 <div class="tab-custom-content">
                                                          

                                                                       <div class="tab-content" id="custom-content-below-tabContent">
                                                               

                                                                             <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                                                                                 
                                                                              <table id="example2" class="table table-bordered table-hover">
                                                                                     <thead>
                                                                                           <tr>
                                                                                            <th>case number</th>
                                                                                               <th>Date Checked-in</th>
                                                                                               
                                                                                               <th>Date Checkout</th>
                                                                                               <th>Checked in status</th>
                                                                                               <td>Attentant to by</td>
                                                                                               <td>Amount</td>
                                                                                           </tr>
                                                                                     </thead>
                                                                                     <tbody> 
                                                                                          
                                                                                                {% for patient in pateint_opd_history %}
                                                                                                     <tr>
                                                                                                         <td>{{patient.patient_history.case_number }}</td>
                                                                                                         <td>{{patient.patient_history.date_reported}}</td>
                                                                                                         <td>
                                                                                                            {% if patient.patient_history.waiting_state == "checked out" %}
                                                                                                                   {{patient.patient_history.checked_out_date_time}}
                                                                                                            {% endif %}
                                                                                                         </td>
                                                                                                         <td>
                                                                                                            
                                                                                                             {% if patient.patient_history.waiting_state == "pending" %}
                                                                                                                  yet to check in
                                                                                                             {% elif patient.patient_history.waiting_state == "checked in" %}
                                                                                                                   {{patient.patient_history.waiting_state}}
                                                                                                             {% else %}
                                                                                                                   {{patient.patient_history.waiting_state}}
                                                                                                             {% endif %}
                                                                                                         </td>
                                                                                                         <td>{{patient.patient_history.nurse.username}}</td>
                                                                                                         <td>GHS {{patient.amount_paid}}</td>
                                                                                                     </tr>
                                                                                                {% endfor %}
                                                                                                                                                                      
                                                                                     </tbody>

                                                                              </table>
<!--{{view_patient_details}}-->
                                                                             </div>
                                                                       </div>

                                                                 </div>
                                                           
                                                         </div>
                                                </div>

                                      </div>



{% endblock %}